body{
        padding: 0;
        margin-left: 30px;
        box-sizing: border-box;
        height: 100vh;
        background-color:whitesmoke;
        text-align: center;
        justify-content: center;
        align-items: center;
}

.contain{
    background-color:rgba(50, 50, 60, 0.9);
    margin-top: 10%;
    height:100px;
    min-width: 230px;
    max-width:315px;
    width: 100%;
    position:relative;
    display: inline block;
    color: #000;
    text-align: left;
    font-size: 18px;
    justify-content: left;
    border-radius: 5px;

}

.contain::before,
.contain::after{
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;

    }
    .contain img{
       max-width: 35%;
       margin-left: 60%;
       margin-top: -10%;
       backface-visibility: hidden;
       vertical-align: top;
       border-radius: 5px;



    }
    .contain img:hover{
        width: 50%;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
    }
    .contain figcaption{
        position: absolute;
        right:40%;
        left: 0;
        top: 0;
        bottom: 0;
        padding:15px;
    }
    .contain h3{
        margin: 0;
        font-size: 23px;
    }
    .icon{
        font-size:20px;
        margin-top: 7px;
        margin-left: 10px;
        -webkit-transition: all 0.45s;
        transition: all0.45s;

    }
    .icon:hover{
        color: #2980b9;
        -webkit-transition: all 0.45s ease;
        transition: all0.45s ease;
    }


